<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="{{ cookiecutter.basePackage }}.biz.sys.mapper.AreaMapper">

    <select id="selectAll" resultType="{{ cookiecutter.basePackage }}.biz.sys.entity.Area">
        SELECT  code, name, parent_id FROM sys_area

    </select>
</mapper>
