example.com {
	redir https://www.example.com{uri} permanent
}

www.example.com {
	encode gzip
	handle /api/* {
		reverse_proxy 127.0.0.1:8080
	}

	header {
		-Server
	}

	handle {
		root * /opt/webapps/{{ cookiecutter.artifact.replace('-api', '') }}/{{ cookiecutter.artifact.replace('-api', '-web') }}
		try_files {path} /index.html
		file_server
	}

	# 优化静态资源缓存 30天
	@static {
		path_regexp \.(webp|gif|jpg|jpeg|png|ico|svg|css|js|ttf|eot|woff|woff2|otf|mp4|webm|ogg|mp3|wav|pdf)$
	}
	header @static Cache-Control "public, max-age=2592000, immutable"

    # TODO 需要进一步优化 如压缩 保留天数等
	log {
		output file /opt/webapps/sensor/access.log
	}
}