[Unit]
Description={{ cookiecutter.artifact }} server
After=network.target remote-fs.target nss-lookup.target

[Service]
Type=forking
User=root
EnvironmentFile=/opt/webapps/{{ cookiecutter.artifact.replace('-api', '') }}/{{ cookiecutter.artifact }}/config/{{ cookiecutter.artifact }}.env
WorkingDirectory=/opt/webapps/{{ cookiecutter.artifact.replace('-api', '') }}/{{ cookiecutter.artifact }}

ExecStartPre=/bin/sh -c 'if [ ! -d ${LOG_PATH} ]; then mkdir ${LOG_PATH}; fi'
ExecStart=/bin/sh -c '${JAVA_HOME}/java ${JVM_OPTIONS} -jar -Dloader.path=${APP_HOME}/lib ${APP_HOME}/${JAR_NAME} > /dev/null  2>&1 &'
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s QUIT $MAINPID
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
