<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="{{ cookiecutter.basePackage }}.biz.auth.mapper.PermissionMapper">

    <select id="findPermissionsByUserId" resultType="java.lang.String">
        SELECT `code`
        FROM `auth_permission`
        WHERE `id` IN (
            SELECT `permission_id`
            FROM `auth_role_permission`
            WHERE `role_id` IN (SELECT `role_id` FROM `auth_user_role` WHERE `user_id` = #{userId}))
    </select>

    <select id="selectMaxSort" resultType="java.lang.Integer">
        SELECT
            IFNULL( MAX( sort ), 0 ) AS sort
        FROM
            `auth_permission`
        WHERE
            `parent_id` = #{parentId}
    </select>

    <select id="findPermissionIds" resultType="java.lang.Integer">
        SELECT DISTINCT ap.permission_id
        FROM auth_role_permission ap
        JOIN auth_user_role aur ON ap.role_id = aur.role_id
        WHERE aur.user_id = #{userId}

        UNION

        SELECT permission_id FROM auth_user_permission WHERE user_id=#{userId}

        UNION

        SELECT ap.permission_id
        FROM auth_group_permission ap
        JOIN auth_user_group aug ON ap.group_id = aug.group_id
        WHERE aug.user_id = #{userId}

        UNION

        SELECT apr.permission_id
        FROM auth_role_permission apr
        JOIN auth_group_role agr ON apr.role_id = agr.role_id
        JOIN auth_user_group aug ON agr.group_id = aug.group_id
        WHERE aug.user_id = #{userId}
    </select>

</mapper>
