<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="{{ cookiecutter.basePackage }}.biz.auth.mapper.RolePermissionMapper">

    <select id="getPermissionByRoleId" resultType="{{ cookiecutter.basePackage }}.biz.auth.entity.Permission">
        SELECT
            b.*
        FROM `auth_role_permission` a
        LEFT JOIN `auth_permission` b
        ON a.permission_id = b.id
        WHERE a.role_id = #{roleId};
    </select>

    <select id="page" resultType="{{ cookiecutter.basePackage }}.biz.auth.entity.Permission">
        SELECT
        b.*
        FROM (SELECT permission_id FROM auth_role_permission WHERE role_id=#{roleId}) a
        LEFT JOIN auth_permission b
        ON a.permission_id=b.id
        <where>
            <if test="request != null and request.keyword != null">
                b.name LIKE CONCAT('%', #{request.keyword}, '%')
                OR b.code LIKE CONCAT('%', #{request.keyword}, '%')
                OR b.description LIKE CONCAT('%', #{request.keyword}, '%')
            </if>
        </where>
    </select>

</mapper>
