<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="{{ cookiecutter.basePackage }}.biz.auth.mapper.UserGroupMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="{{ cookiecutter.basePackage }}.biz.auth.entity.UserGroup">
        <result column="id" property="id" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="user_id" property="userId" />
        <result column="group_id" property="groupId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        create_time,
        update_time,
        user_id, group_id
    </sql>


    <select id="selectAll" resultType="{{ cookiecutter.basePackage }}.biz.auth.entity.UserGroup">
        SELECT *
        FROM auth_user_group
    </select>

    <select id="listUsers" resultType="{{ cookiecutter.basePackage }}.biz.auth.entity.User">
        SELECT
            b.*
        FROM auth_user_group a
        LEFT JOIN auth_user b
        ON a.user_id = b.id
        WHERE a.group_id = #{groupId}
    </select>

</mapper>
