<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="{{ cookiecutter.basePackage }}.biz.auth.group.permission.GroupPermissionMapper">

    <select id="findPermissionsByGroupId" resultType="{{ cookiecutter.basePackage }}.biz.auth.permission.Permission">
        SELECT
            b.id, b.parent_id, b.code
        FROM `auth_group_permission` a
        LEFT JOIN `auth_permission` b
        ON a.permission_id = b.id
        WHERE a.group_id = #{groupId};
    </select>

    <select id="page" resultType="{{ cookiecutter.basePackage }}.biz.auth.permission.Permission">
        SELECT
            b.*
        FROM ( SELECT permission_id FROM auth_group_permission WHERE group_id = #{groupId} ) a
        LEFT JOIN auth_permission b
        ON a.permission_id = b.id
        <where>
            <if test="request != null and request.keyword != null">
                b.name LIKE CONCAT('%', #{request.keyword}, '%')
                OR b.code LIKE CONCAT('%', #{request.keyword}, '%')
                OR b.description LIKE CONCAT('%', #{request.keyword}, '%')
            </if>
        </where>
    </select>

    <select id="findPermissionsByGroupIds" resultType="{{ cookiecutter.basePackage }}.biz.auth.permission.Permission">
        SELECT
            b.id, b.parent_id, b.code
        FROM `auth_group_permission` a
        LEFT JOIN `auth_permission` b
        ON a.permission_id = b.id
        WHERE a.group_id IN
        <foreach collection="groupIds" item="groupId" open="(" separator="," close=")">
            #{groupId}
        </foreach>
    </select>

</mapper>
